
h1 {
    font-size: 30px;
}

thead  {
background-color:#E4E7E9;
padding: 70px 100px 70px 100px;
}


table {
    display: table;
    position: absolute;
    top: 10%;
    left: 0%;
    width: 100%;
    height: 30%;
}
table{
    border-top: 1px solid #E4E7E9;
    border-bottom: 1px solid  #E4E7E9;
    text-align: center;
    border-collapse: collapse;
}
.tag-a {
border: 1px solid #E4E7E9;
padding: 0 200px 0 0;
}

.member1 {
    display: block;
    position: absolute;
    bottom: 42%;
    left: 5%;
}
.member2 {
    display: block;
    position: absolute;
    bottom: 42%;
    right: 4%;
}
a:link,a:visited {
    text-decoration: none;
    background-color:#FFFFFF;
    color:#2DA5F3 ;
    border: 2px solid #2DA5F3 ;
    padding: 14px 50px;
    text-align: center;
   display: inline;
   border-radius: 5px;
}
a:hover, a:active {
    background-color: #E4E7E9;
 }
 input {
    text-align: center;
    padding: 2%;

 }
 .member-1 {
    display: flex;
    position: absolute;
    left: 1%;
    top: 28%;
 }
 .member-2 {
    display: flex;
    position: absolute;
    left: 1%;
    top: 68%;
 }
.member--1 {
    display: flex;
    position: absolute;
    left: 4%;
    top: 20%;
}
.member--2 {
    display: flex;
    position: absolute;
    left: 4%;
    top: 65%;
}
span {
    text-decoration: line-through;
    color: #b7b9bb;
}

