* {
   margin: 0 ;
   padding: 0;
   box-sizing: border-box;
   font-family: Arial, Helvetica, sans-serif;
   font-size: medium;
}
body {
   margin-left:-2%;
   margin-top: 1%;
}
#urgent {
color:#77878F;
}
h1 {
   text-align: justify;
}
.Checkout-Information {
  width: 700px;
  height: 800px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
.item-1 {
display: flex;
gap: 5px;
justify-content: center;
width: 510px;
}
#found {
padding: 7px 27px 7px 0;
}
.item-2 {
display: flex;
flex-direction: column;
justify-self: start;
align-items: start;
}
.item-3 {
display: flex;
flex-direction: row;
justify-self: start;
align-items: start;
gap: 5px;
}
.item-4 {
display: flex;
flex-direction: row;
justify-self: start;
align-items: start;
gap: 5px;
}
.item-5 {
display: flex;
flex-direction: row;
justify-self: start;
}
.item-6 {
display: flex;
flex-direction: row;
align-items: center;
}
.item-7 {
display: flex;
flex-direction: row;
align-items: center;
width:500px;
}
.child-1 {
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
width:360px;
height:100px;
}
.child-2 {
display: flex;
flex-direction: column;
justify-content: center;
width:630px;
height:100px;
}
.child-3 {
display:flex;
flex-direction: column;
width: 160px ;
height: 50px;
}
.child-4 {
  display: flex; 
  flex-direction: column;
  width: 327px ;
}
.child-5 {
   display: flex;
   align-items: center;
   width: 652px;
   height: 50px;
}
.child-6 {
   display: flex;
   align-items: start;
}
.child-7 {
   display:flex;
   flex-direction: column;
   justify-content: column;
   align-items: center;
   height: 80px;
}
.child-8 {
   display:flex;
   flex-direction: column;
   width: 650px;
   border-top: 1px solid #77878F;
   border-left: 0.5px solid #77878F;
   border-right: 0.5px solid #77878F;
}
.child-9 {
   display:flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   width: 650px;
   height: 70px;
   border-left: 0.5px solid #77878F;
   border-right: 0.5px solid #77878F;
   border-bottom: 1px solid #77878F;
   border-bottom-left-radius: 5px;
   border-bottom-right-radius: 5px;
   gap:5px;
}

.children-9 {
display: flex;
flex-direction: column;
width: 400px;
}
 #children2 {
display: flex;
flex-direction: row;
justify-content: start;
align-items: center;
 }
 input {
border:1px solid #E4E7E9;
padding: 7px 5px 7px 0;
border-radius: 4px;
color:#77878F;
}
select {
   background-color: #FFFFFF;
   color:#77878F;
   padding: 6px 0;
   border:1px solid #E4E7E9;
   border-radius: 4px;
}
table,td {
   width:650px;
   border-top: 1px solid #77878F;
   border-right: 1px solid #77878F;
   border-left: 1px solid #77878F;
   border-bottom: 1px solid #77878F;
   border-top-right-radius: 5px ;
   border-top-left-radius: 5px ;
   border-collapse: separate;
}
.additional {
   display: flex;
   flex-direction: column;
   justify-content: center;
   height: 300px;
   width: 650px;
}
.subject-1 {
   display: flex;
   position: absolute;
   left: 2%;
}
.title {
   display: flex;
   flex-direction: column;
   justify-content: start;
   height:50px;
}
.necessery {
   display: flex;
   flex-direction: row;
   width: 650px;
   height: 130px;
   border:1px solid #77878F;
   color: #77878F;
}

a:link,a:visited {
   text-decoration: none;
   background-color:#fac282;
   color: #FFFFFF;
   padding: 14px 50px;
   text-align: center;
   display: inline;
}
a:hover, a:active {
   background-color:red;
}
/*a {
   display:flex;
   position: absolute;
   right: 90%;
   margin-top: 150px;
}*/
.Secondary-Email {
   display:flex ;
   position:absolute;
   top: 1%;
   right:1px;
   flex-direction: column;
  width: 340px;
  height: 360px;
  border: 1px solid #E4E7E9;
}

.subject-2 {
   display: flex;
   justify-content: row;
   align-items: center;
}
pre {
   font-size: 11.5px ;
}
#second-1 {
   display: flex;
   position: absolute;
   top:15%;
   right: 60%;
   color: aqua;
}
#second {
   display:flex;
   position: absolute;
   top:34%;
   right:58%;
   color: aqua;
}
.container3 {
   display:flex ;
   flex-direction: row;
   justify-content: space-between;
}
.container4 {
   display:flex ;
   flex-direction: row;
   justify-content: space-between;
}
.container5 {
   display:flex ;
   flex-direction: row;
   justify-content: space-between;
}
.container6 {
   display:flex ;
   flex-direction: row;
   justify-content: space-between;
}
.container7 {
   border-top:1px solid #E4E7E9 ;
   display:flex;
   flex-direction: row;
   height: 100px;
align-items: center;
   justify-content: space-between;
}
.submit-10 {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: end;
}